



html {

background-color: rgba(122, 191, 191, .5);

}

body {

    background-color: #f2f2f2;
    width: 414px;
    display: block;
    margin:auto;

}

main {






}

img {
    max-width: 100%;
    height: auto;
}


h1 {
    font-size: 40px;
}

h2 {
    font-size:30px;
}

h3 {
    font-size:25px;
}

p {
    font-size: 16px;
   
}